<article class="country-article">
    <img src="{{countryFlag}}" alt="{{countryName}}" class="country-img">
    <h2 class="country-title">{{countryName}}</h2>
    <ul class="country-description-list">
        <li class="description-item">
            <h3 class="description-title">Population</h3>
            <p class="description-text">{{countryPopulation}}</p>
        </li>
        <li class="description-item">
            <h3 class="description-title">Capital</h3>
            <p class="description-text">{{countryCapital}}</p>
        </li>
        <li class="description-item">
            <h3 class="description-title">Languages</h3>
            <p class="description-text">{{countryLanguages}}</p>
        </li>
    </ul>
</article>