
    <div class="country">
    <img src="{{svg}}" alt="{{official}}" class="country-flag">
    <h2 class="country-name">{{official}}</h2>
    </div>
    
    <ul class="country-description-list">
        <li class="description-item">
            <p class="description-title">Population:</p>
            <span class="description-text">{{population}}</span>
        </li>
        <li class="description-item">
            <p class="description-title">Capital:</p>
            <span class="description-text">{{capital}}</span>
        </li>
        <li class="description-item">
            <p class="description-title">Languages:</p>
            <span class="description-text">{{countryLanguages}}</span>
        </li>
    </ul>
